@model List<CalcData>

<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="~/css/calcSite.css" />
</head>
<body>
    <div class="container">
        <div class="calculator">
            <h2 class="text-center mb-5">Calculator</h2>
            <input type="text" id="calcDisplay" readonly />
            <div class="calc-buttons">
                <button class="calc-button" value="1">1</button>
                <button class="calc-button" value="2">2</button>
                <button class="calc-button" value="3">3</button>
                <button class="calc-button" value="+">+</button>
                <button class="calc-button" value="4">4</button>
                <button class="calc-button" value="5">5</button>
                <button class="calc-button" value="6">6</button>
                <button class="calc-button" value="-">-</button>
                <button class="calc-button" value="7">7</button>
                <button class="calc-button" value="8">8</button>
                <button class="calc-button" value="9">9</button>
                <button class="calc-button" value="*">*</button>
                <button class="calc-button" value="0">0</button>
                <button class="calc-button" value=".">.</button>
                <button id="clearButton" class="calc-button">C</button>
                <button class="calc-button" value="/">/</button>
                <button id="calculateButton" class="calc-button wide">=</button>
            </div>
        </div>
        <div class="history">
            <h3>Calculation History</h3>
            <table id="historyTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Calculation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.CalcEntry</td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var clearOnNextInput = false;

            function calculate() {
                var expression = $('#calcDisplay').val();

                $.ajax({
                    type: "POST",
                    url: "/CalcHistr/Calculate",
                    data: {
                        expression: expression
                    },
                    success: function (data) {
                        clearDisplay();
                        if (data.result === "Not calculable") {
                            $('#calcDisplay').val("Not calculable");
                        } else {
                            $('#calcDisplay').val(data.result);
                            var newRow = '<tr><td>' + data.history[0].id + '</td><td>' + data.history[0].calcEntry + '</td></tr>';
                            $('#historyTable').find('tbody').prepend(newRow);
                        }
                        clearOnNextInput = true;
                    },
                    error: function (error) {
                        console.error("Error calculating:", error.responseJSON.error);
                        alert("Error calculating: " + error.responseJSON.error);
                    }
                });
            }

            function clearDisplay() {
                $('#calcDisplay').val('');
            }

            $('#calcDisplay').on('input', function () {
                if (clearOnNextInput) {
                    clearDisplay();
                    clearOnNextInput = false;
                }
            });

            $('#calculateButton').click(function () {
                calculate();
            });

            $('.calc-button').click(function () {
                var buttonValue = $(this).val();
                $('#calcDisplay').val($('#calcDisplay').val() + buttonValue);
            });

            $('#clearButton').click(function () {
                clearDisplay();
            });
        });
    </script>
</body>
</html>
